{% extends 'homePage.html' %}
{% load static from staticfiles%}
{% block addTitle %}
  Contactar
{% endblock %}
{% block addCss %}
<link rel="stylesheet" href="{% static 'css/contactar_.css' %}">
{% endblock %}
{% block addContent %}
  <div class="general-title">
    Contactos
  </div>
  <div class="push_down-small"></div>
  <hr>


  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%;" src="{% static 'images/contactos/MFMA.png' %}">
    </div>
    <div style="width: 30%">
      <a href="#" target="_blank" style="text-align: left" class="general-link-title">Ministerio Federal de Medio Ambiente</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%" src="{% static 'images/contactos/GEF.jpg' %}">
    </div>
    <div style="width: 30%">
      <a href="http://www.globalenvironmentfund.com/" target="_blank" style="text-align: left" class="general-link-title">Global Environmental Fund</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%;" src="{% static 'images/contactos/PPD.jpg' %}">
    </div>
    <div style="width: 30%">
      <a href="#" target="_blank" style="text-align: left" class="general-link-title">Programa de Pequeñas Donaciones</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 40%; position: relative; left: 30%" src="{% static 'images/contactos/PNUD.png' %}">
    </div>
    <div style="width: 30%">
      <a href="http://www.undp.org/content/undp/en/home.html" target="_blank" style="text-align: left" class="general-link-title">Programa de Naciones Unidas para el Desarrollo</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 70%; position: relative; left: 15%;" src="{% static 'images/contactos/MICCG.jpg' %}">
    </div>
    <div style="width: 30%">
      <a href="#" target="_blank" style="text-align: left" class="general-link-title">Mesa Indígena de Cambio Climático de Guatemala</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%;" src="{% static 'images/contactos/S.jpg' %}">
    </div>
    <div style="width: 30%">
      <a href="https://sotzil-guatemaya.org/" target="_blank" style="text-align: left" class="general-link-title">Sotzi´il</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%;" src="{% static 'images/contactos/D.PNG' %}">
    </div>
    <div style="width: 30%">
      <a href="#" target="_blank" style="text-align: left" class="general-link-title">DESIGUAL</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%;" src="{% static 'images/contactos/CGPL.png' %}">
    </div>
    <div style="width: 30%">
      <a href="http://cgpl.org.gt/" target="_blank" style="text-align: left" class="general-link-title">Centro Guatemalteco de Producción + Limpia</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%;" src="{% static 'images/contactos/EBCG.jpg' %}">
    </div>
    <div style="width: 30%">
      <a href="https://www.gov.uk/world/organisations/british-embassy-guatemala.es-419" target="_blank" style="text-align: left" class="general-link-title">Embjada Británica ciudad de Guatemala</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 60%; position: relative; left: 20%" src="{% static 'images/contactos/FFAM.jpg' %}">
    </div>
    <div style="width: 30%">
      <a href="https://www.ffem.fr/fr" target="_blank" style="text-align: left" class="general-link-title">Fondo Francés Ambiental Mundial</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 80%; position: relative; left: 10%; bottom:1vw;" src="{% static 'images/contactos/F.jpg' %}">
    </div>
    <div style="width: 30%">
      <a href="http://www.fundaeco.org.gt/" target="_blank" style="text-align: left" class="general-link-title">FUNDAECO</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%; bottom:2vw;" src="{% static 'images/contactos/FA.png' %}">
    </div>
    <div style="width: 30%">
      <a href="http://www.fundacionazteca.org/" target="_blank" style="text-align: left" class="general-link-title">Fundación Azteca</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 80%; position: relative; left: 10%" src="{% static 'images/contactos/TVA.png' %}">
    </div>
    <div style="width: 30%">
      <a href="http://www.tvazteca.com/" target="_blank" style="text-align: left" class="general-link-title">TV Azteca</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%;" src="{% static 'images/contactos/UGG.jpg' %}">
    </div>
    <div style="width: 30%">
      <a href="https://www.galileo.edu/" target="_blank" style="text-align: left" class="general-link-title">Universidad Galileo de Guatemala</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%" src="{% static 'images/contactos/HE.png' %}">
    </div>
    <div style="width: 30%">
      <a href="#" target="_blank" style="text-align: left" class="general-link-title">Horus Energy</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 100%; position: relative; left: 0%;" src="{% static 'images/contactos/EFG.jpg' %}">
    </div>
    <div style="width: 30%">
      <a href="https://gt.ambafrance.org/-Embajada-de-Francia-en-Guatemala-" target="_blank" style="text-align: left" class="general-link-title">Embajada de Francia en Guatemala</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 100%; position: relative; left: 0%;" src="{% static 'images/contactos/ESG.jpg' %}">
    </div>
    <div style="width: 30%">
      <a href="https://www.eda.admin.ch/countries/guatemala/es/home/representaciones/embajada.html" target="_blank" style="text-align: left" class="general-link-title">Embajada de Suiza en Guatemala</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 100%; position: relative; left: 0%;" src="{% static 'images/contactos/UVG.png' %}">
    </div>
    <div style="width: 30%">
      <a href="http://web.uvg.gt/" target="_blank" style="text-align: left" class="general-link-title">Universidad del Valle de Guatemala</a>
    </div>
  </div>
  <hr>

  <div style="margin-left: 20%;" class="row row-adj">
    <div style="width: 30%">
      <img style="width: 90%; position: relative; left: 5%;" src="{% static 'images/contactos/PMS.png' %}">
    </div>
    <div style="width: 30%">
      <a href="http://www.fundaeco.org.gt/programas/mujeres-y-ninas.html" target="_blank" style="text-align: left" class="general-link-title">Proyecto Mujer Saludable</a>
    </div>
  </div>
  <hr>

{% endblock %}
{% block addScripts %}
{% endblock %}
